---
http_interactions:
- request:
    method: get
    uri: https://homologacao.braspag.com.br/services/testenvironment/CartaoProtegido.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://www.cartaoprotegido.com.br/WebService/\" xmlns:s1=\"http://microsoft.com/wsdl/types/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        targetNamespace=\"http://www.cartaoprotegido.com.br/WebService/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://www.cartaoprotegido.com.br/WebService/\">\r\n
        \     <s:import namespace=\"http://microsoft.com/wsdl/types/\" />\r\n      <s:element
        name=\"JustClickShop\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"justClickShopRequestWS\"
        type=\"tns:JustClickShopRequest\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:complexType name=\"JustClickShopRequest\">\r\n
        \       <s:complexContent mixed=\"false\">\r\n          <s:extension base=\"tns:AbstractRequest\">\r\n
        \           <s:sequence>\r\n              <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"MerchantKey\" type=\"s1:guid\" />\r\n              <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"CustomerIdentification\" type=\"s:string\" />\r\n              <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"CustomerName\" type=\"s:string\" />\r\n
        \             <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"OrderId\"
      [...]
- request:
    method: post
    uri: https://homologacao.braspag.com.br/services/testenvironment/CartaoProtegido.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.cartaoprotegido.com.br/WebService/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:SaveCreditCard><tns:saveCreditCardRequestWS><tns:CustomerIdentification>cli0001</tns:CustomerIdentification><tns:CustomerName>Joao</tns:CustomerName><tns:CardHolder>Joao</tns:CardHolder><tns:CardNumber>1</tns:CardNumber><tns:CardExpiration>09/2017</tns:CardExpiration><tns:JustClickAlias>alias</tns:JustClickAlias>xxxF9B195F9-D087-4B76-97C8-D3E0F72FD28D</tns:MerchantKey></tns:saveCreditCardRequestWS></tns:SaveCreditCard></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://www.cartaoprotegido.com.br/WebService/SaveCreditCard"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SaveCreditCardResponse
        xmlns="http://www.cartaoprotegido.com.br/WebService/"><SaveCreditCardResult><Success>true</Success><CorrelationId
        xsi:nil="true" /><JustClickKey>b66b18cd-8036-46be-91c4-b1e91f318a76</JustClickKey></SaveCreditCardResult></SaveCreditCardResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 04 Apr 2013 02:46:12 GMT
[...]
- request:
    method: post
    uri: https://homologacao.braspag.com.br/services/testenvironment/CartaoProtegido.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.cartaoprotegido.com.br/WebService/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetCreditCard><tns:getCreditCardRequestWS><tns:JustClickKey>b66b18cd-8036-46be-91c4-b1e91f318a76</tns:JustClickKey>xxxF9B195F9-D087-4B76-97C8-D3E0F72FD28D</tns:MerchantKey></tns:getCreditCardRequestWS></tns:GetCreditCard></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://www.cartaoprotegido.com.br/WebService/GetCreditCard"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetCreditCardResponse
        xmlns="http://www.cartaoprotegido.com.br/WebService/"><GetCreditCardResult><Success>true</Success><CorrelationId
        xsi:nil="true" /><CardHolder>JOAO</CardHolder><CardNumber>1</CardNumber><CardExpiration>09/2017</CardExpiration><MaskedCardNumber>1</MaskedCardNumber></GetCreditCardResult></GetCreditCardResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 04 Apr 2013 02:46:18 GMT
recorded_with: VCR 2.4.0
