---
http_interactions:
- request:
    method: get
    uri: https://homologacao.braspag.com.br/services/testenvironment/CartaoProtegido.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"
        xmlns:tns=\"http://www.cartaoprotegido.com.br/WebService/\" xmlns:s1=\"http://microsoft.com/wsdl/types/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        targetNamespace=\"http://www.cartaoprotegido.com.br/WebService/\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://www.cartaoprotegido.com.br/WebService/\">\r\n
        \     <s:import namespace=\"http://microsoft.com/wsdl/types/\" />\r\n      <s:element
        name=\"JustClickShop\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"justClickShopRequestWS\"
        type=\"tns:JustClickShopRequest\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:complexType name=\"JustClickShopRequest\">\r\n
        \       <s:complexContent mixed=\"false\">\r\n          <s:extension base=\"tns:AbstractRequest\">\r\n
        \           <s:sequence>\r\n              <s:element minOccurs=\"1\" maxOccurs=\"1\"
        name=\"MerchantKey\" type=\"s1:guid\" />\r\n              <s:element minOccurs=\"0\"
        maxOccurs=\"1\" name=\"CustomerIdentification\" type=\"s:string\" />\r\n              <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"CustomerName\" type=\"s:string\" />\r\n
        \             <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"OrderId\"
      [...]
- request:
    method: post
    uri: https://homologacao.braspag.com.br/services/testenvironment/CartaoProtegido.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.cartaoprotegido.com.br/WebService/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:SaveCreditCard><tns:saveCreditCardRequestWS><tns:CustomerIdentification>cli0001</tns:CustomerIdentification><tns:CustomerName>Joao
        de Teste</tns:CustomerName><tns:CardHolder>Joao de Teste</tns:CardHolder><tns:CardNumber>1</tns:CardNumber><tns:CardExpiration>09/2017</tns:CardExpiration><tns:JustClickAlias>alias-cli63</tns:JustClickAlias>xxxF9B195F9-D087-4B76-97C8-D3E0F72FD28D</tns:MerchantKey></tns:saveCreditCardRequestWS></tns:SaveCreditCard></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://www.cartaoprotegido.com.br/WebService/SaveCreditCard"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SaveCreditCardResponse
        xmlns="http://www.cartaoprotegido.com.br/WebService/"><SaveCreditCardResult><Success>true</Success><CorrelationId
        xsi:nil="true" /><JustClickKey>d94ad4a1-4c21-41e2-a63f-438e472cbbcf</JustClickKey></SaveCreditCardResult></SaveCreditCardResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 04 Apr 2013 01:31:51 GMT
- request:
    method: get
    uri: https://homologacao.pagador.com.br/webservice/pagadorTransaction.asmx?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"https://www.pagador.com.br/webservice/pagador\"
        xmlns:s1=\"http://microsoft.com/wsdl/types/\" xmlns:s=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\"
        targetNamespace=\"https://www.pagador.com.br/webservice/pagador\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n
        \ <wsdl:documentation xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">This
        webservice authorizes PAGADOR orders</wsdl:documentation>\r\n  <wsdl:types>\r\n
        \   <s:schema elementFormDefault=\"qualified\" targetNamespace=\"https://www.pagador.com.br/webservice/pagador\">\r\n
        \     <s:import namespace=\"http://microsoft.com/wsdl/types/\" />\r\n      <s:element
        name=\"AuthorizeTransaction\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"[...]
- request:
    method: post
    uri: https://homologacao.pagador.com.br/webservice/pagadorTransaction.asmx
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?><env:Envelope xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:tns=\"https://www.pagador.com.br/webservice/pagador\"
        xmlns:env=\"http://schemas.xmlsoap.org/soap/envelope/\"><env:Body><tns:AuthorizeTransaction><tns:request><tns:RequestId>d014c828-2889-44c3-89e6-39004fc34c90</tns:RequestId><tns:OrderData><tns:MerchantId>396C25BF-1E37-1221-BDDE-53E2447B1A05</tns:MerchantId><tns:OrderId>order98787174</tns:OrderId></tns:OrderData><tns:CustomerIdentity>cli0002</tns:CustomerIdentity><tns:PaymentDataCollection><tns:PaymentDataRequest
        xsi:type=\"tns:CreditCardDataRequest\">\n  <tns:PaymentMethod>997</tns:PaymentMethod>\n
        \ <tns:Amount>180</tns:Amount>\n  <tns:Country>BRA</tns:Country>\n  <tns:Currency>BRL</tns:Currency>\n
        \ <tns:NumberOfPayments>1</tns:NumberOfPayments>\n  <tns:TransactionType>1</tns:TransactionType>\n
        \ <tns:CreditCardToken>d94ad4a1-4c21-41e2-a63f-438e472cbbcf</tns:CreditCardToken>\n</tns:PaymentDataRequest></tns:PaymentDataCollection><tns:CustomerData><tns:CustomerName>Joao
        de Teste</tns:CustomerName><tns:CustomerIdentity>cli0002</tns:CustomerIdentity><tns:CustomerEmail>joao@test.com</tns:CustomerEmail></tns:CustomerData><tns:CustomerAddressData><tns:Street>Rua
        Exemplo</tns:Street><tns:ZipCode>04112002</tns:ZipCode><tns:City xsi:nil=\"true\"/><tns:State
        xsi:nil=\"true\"/><tns:Country>BRA</tns:Country></tns:CustomerAddressData><tns:Version>1</tns:Version></tns:request></tns:AuthorizeTransaction></env:Body></env:Envelope>"
    headers:
      Soapaction:
      - ! '"https://www.pagador.com.br/webservice/pagador/AuthorizeTransaction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AuthorizeTransactionResponse
        xmlns="https://www.pagador.com.br/webservice/pagador"><AuthorizeTransactionResult><CorrelationId>d014c828-2889-44c3-89e6-39004fc34c90</CorrelationId><Success>true</Success><ErrorReportDataCollection
        /><OrderData><OrderId>order98787174</OrderId><BraspagOrderId>d0e184a9-ecdb-417e-8a28-7d3b29a4d112</BraspagOrderId></OrderData><PaymentDataCollection><PaymentDataResponse
        xsi:type="CreditCardDataResponse"><BraspagTransactionId>d1e74043-1ae1-4de6-ba4e-a34aaaf5cd8a</BraspagTransactionId><PaymentMethod>997</PaymentMethod><Amount>180</Amount><AcquirerTransactionId>0403102700500</AcquirerTransactionId><AuthorizationCode>938899</AuthorizationCode><ReturnCode>4</ReturnCode><ReturnMessage>Operation
        Successful</ReturnMessage><Status>1</Status><CreditCardToken>d94ad4a1-4c21-41e2-a63f-438e472cbbcf</CreditCardToken></PaymentDataResponse></PaymentDataCollection></AuthorizeTransactionResult></AuthorizeTransactionResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 04 Apr 2013 01:31:59 GMT
[...]
- request:
    method: post
    uri: https://homologacao.pagador.com.br/webservice/pagadorTransaction.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://www.pagador.com.br/webservice/pagador"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:CaptureCreditCardTransaction><tns:request><tns:RequestId>358502fc-f2df-4243-8e41-dc581a2e1eed</tns:RequestId><tns:Version>1</tns:Version><tns:MerchantId>396C25BF-1E37-1221-BDDE-53E2447B1A05</tns:MerchantId><tns:TransactionDataCollection><tns:TransactionDataRequest><tns:BraspagTransactionId>d1e74043-1ae1-4de6-ba4e-a34aaaf5cd8a</tns:BraspagTransactionId><tns:Amount>180</tns:Amount></tns:TransactionDataRequest></tns:TransactionDataCollection></tns:request></tns:CaptureCreditCardTransaction></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"https://www.pagador.com.br/webservice/pagador/CaptureCreditCardTransaction"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><CaptureCreditCardTransactionResponse
        xmlns="https://www.pagador.com.br/webservice/pagador"><CaptureCreditCardTransactionResult><CorrelationId>358502fc-f2df-4243-8e41-dc581a2e1eed</CorrelationId><Success>true</Success><ErrorReportDataCollection
        /><TransactionDataCollection><TransactionDataResponse><BraspagTransactionId>d1e74043-1ae1-4de6-ba4e-a34aaaf5cd8a</BraspagTransactionId><AcquirerTransactionId>0403102700500</AcquirerTransactionId><Amount>180</Amount><AuthorizationCode>20130403102702984</AuthorizationCode><ReturnCode>6</ReturnCode><ReturnMessage>Operation
        Successful</ReturnMessage><Status>0</Status></TransactionDataResponse></TransactionDataCollection></CaptureCreditCardTransactionResult></CaptureCreditCardTransactionResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 04 Apr 2013 01:32:02 GMT
recorded_with: VCR 2.4.0
